*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    justify-content: center;
}
body{
    display: flex;
}
h1{
    padding-bottom: 1rem;
}